<div class="login-container">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    
    <div>
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <!-- Google認証ボタン -->
  <div class="oauth-login">
    <%= link_to "Log in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn google-btn" %>
  </div>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>